:root {
  --text-color: #333;
  --bg-color: white;
}

body {
  font-family: "Roboto Mono", monospace, monospace;
}

.site-title {
  text-decoration: none;
  color: var(--text-color);
}

.btn {
  padding: 0;
  background-color: white;
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid black;
}

.dropdown-menu-right {
  text-align: right;
}

.dropdown-menu > li > .current {
  font-weight: bold;
}

.dropdown-menu > li > a {
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  background-color: transparent;
  text-decoration: underline;
}

hr {
  border-top: 2px solid var(--text-color);
  margin-bottom: 40px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--text-color);
}

a:active, .btn:active {
  outline: 0;
  box-shadow: none;
}

a:focus, .btn:focus {
  color: var(--text-color);
  outline: 0;
  text-decoration: underline;
}

.menu a {
  text-decoration: none;
}

.menu a:focus, .menu a:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 16px;
}
