<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n static theme %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled "mezzanine.blog" %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<!-- <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}"> -->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled "cartridge.shop" %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
<link rel="stylesheet" href="{% static "css/theme.css" %}">
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="container">


{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

</div>

<div class="container">
  <div class="row menu">
    <div class="col-md-7 col-xs-12">
      <a class="site-title" href="/">{{ settings.SITE_TITLE }}</a>
    </div>
  </div>
  {% if page.richtextpage.edition %}
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <p class="edition">{{ page.richtextpage.edition }}</p>
    </div>
  </div>
  {% endif %}
  <br>
  <div class="row menu">
    <div class="col-md-7 col-xs-12 text-right">
      {% if page.slug == 'quem-somos' %}<strong>{% endif %}
      <a href="{% url 'page' 'quem-somos' %}">{% page_title 'quem-somos' %}</a>
      {% if page.slug == 'quem-somos' %}</strong>{% endif %}
    </div>
  </div>
  <div class="row menu">
    <div class="col-md-7 col-xs-12 text-right">
      {% if page.slug == 'conte-a-sua-historia' %}<strong>{% endif %}
      <a href="{% url 'page' 'conte-a-sua-historia' %}">{% page_title 'conte-a-sua-historia' %}</a>
      {% if page.slug == 'conte-a-sua-historia' %}</strong>{% endif %}
    </div>
  </div>
  <div class="row menu">
    <div class="col-md-7 col-xs-12 text-right">
      {% page_menu "pages_dropdown.html" %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-7 middle">
      <h1>{% block title %}{% endblock %}</h1>
      {% block main %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>
