{% load pages_tags %}

{% if page_branch|length > 1 %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% block dropdown_title %}<span class="caret"></span> {{ settings.PAGE_DROPDOWN_TITLE }}{% endblock %}
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    {% for page in page_branch %}{% if page.slug != 'quem-somos' and page.slug != 'conte-a-sua-historia' %}
    <li><a
          class="dropdown-item{% if page.is_current_or_ascendant %} current{% endif %}"
          href="{{ page.get_absolute_url }}">
        {{ page.title}}
      </a></li>
    {% endif %}{% endfor %}
  </ul>
</div>
{%endif%}
